@page
@model AppBiblioteca.Pages.Generos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genero</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Genero.Id" class="btn btn-warning  "><i class="fa-solid fa-pen-to-square"></i>&nbsp;Editar</a>
    <a asp-page="./Index" class="btn btn-secondary"><i class="fa-solid fa-circle-left"></i>&nbsp;Regresar</a>
</div>
